@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Roboto:wght@300;400;500;700&family=Source+Code+Pro:wght@300&family=Tilt+Prism&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Roboto:wght@300;400;500;700&family=Source+Code+Pro:wght@300&family=Tilt+Prism&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    padding: 0;
    margin: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    background: black;
    width: 100vw;
    height: 55px;
    display: flex;
    align-items: center;
}

nav ul li{
    color: white;
    list-style-type: none;
    padding: 0px 12px;
}

.brand img{
    width: 42px;
    color: white;
    padding: 0px 6px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    height: 72vh;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    /* background-color: black; */
    color: azure;
    display: flex;
    margin: 15px auto;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    background: url(bg.jpg) no-repeat;
  background-size: 100%;
}
/* 
.container h1{
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
} */

.bottom{
    position: sticky;
    height: 85px;
    color: white;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.icons{
    margin-top: 12px;

}
.icons i{
    cursor: pointer;
}


#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height:50px;
    display: flex;
    background-color: white;
    width: 90%;
    color:black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.songItem img{
    height: 45px;
    margin: 0px 12px;
    border-radius: 5px;
}

.songlistplay{
    margin: 0px 12px;
}

.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
} 